@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}


/* Text sizes */
.lead {
    font-size: 20px;
  }
  
  .sm {
    font-size: 1rem;
  }
  
  .md {
    font-size: 2rem;
  }
  
  .lg {
    font-size: 3rem;
  }
  
  .xl {
    font-size: 4rem;
  }
  
  .text-center {
    text-align: center;
  }